@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>background-image</title>
    <style>
        body {
            background: url(https://png.pngtree.com/element_origin_min_pic/16/09/05/1257ccf7d470131.jpg) no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <style type="text/css">
            .center {
                text-align: center;
            }

            h2 {
                font-family: fantasy;
                color: lightcoral;
                font-size: 100%;
                text-align: center;
            }

            p {
                font-family: cursive;
                color: steelblue;
            }
        </style>

        <h2>Вітаю усіх на сайті Tools_Shop!</h2>
        <p>
            Тут ви відкриєте для себе покращену систему зберігання та обробки інформації.
            Ви можете додавати/видаляти/змінювати інформацію про магазини інструментів, їх власників,
            товари та їх бренди. Також Ви можете знайти потрібну Вам інформацію про
            перераховані вище елементи лише ввівши назву або її шматочок.
        </p>

    </div>
</body>