@model TS.Models.Products

@{
    ViewData["Title"] = "Delete";
}
<h1>Видалення</h1>

<h3>Ви впевнені у видаленні?</h3>
<h4>Попередження: інформація, зв'язана з цією таблицею, буде видалена в інших таблицях!</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Ціна    
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Бренди
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brands.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
